nav {
    background-color: black;
}
body{
    background-color: black;
}
.logo{
    color: white;
}
.A{
    color: white;
}
.A1{
    margin-left: 480PX;
    margin-top: -55PX;
}
.disque{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    
}
.A21{
margin-left: 85PX;
}
.A22{
margin-left: 110PX;
margin-top: 25PX;
}
.A23{
margin-left: 90PX;
}
.A24{
margin-left: 116PX;
margin-top:25PX ;
}
.A25{
margin-left: 95PX;
}
.A26{
margin-left:119PX ;
margin-top: 25px;
}
.A27{
margin-left: 110PX;
}
.A28{
margin-left: 132PX;
margin-top: 25px;
}
.case{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.case{
    
    margin-left: 20px;
}
.B1{
background-color: #212121;
height:200px;
}
.B2{
    background-color: #212121;
}
.B3{
    background-color: #212121;
}
.C11{
    
    margin-left: 80PX;
    margin-top: 80PX;
}
.C4{
    margin-left: 85PX ;
    margin-top: 25PX;
    
}
.C1{
    color: #535353;
}
.C22{
    margin-top: 80PX;
    margin-left: 90PX;
}
.C5{
    margin-left: 90PX;
    margin-top: 25px;
}
.C33{
    margin-top: 15PX;
    margin-left: 80PX;
}

.C6{
margin-left: 80PX;
margin-top: 25PX;
}
.barre{
    margin-left: 451px;
}
.S{
    margin: 35px;
    background-color: #212121;
    
}
.S1{
    margin-top: 45px;
    height: 100px;
margin-left: 125PX;
}
.S2{
    margin-top: 45px;
    margin-left: 185PX;
}
.S3{
    margin-top: 45px;
    margin-left: 185PX;
}
.S4{
    margin-top: 45px;
    margin-left: 185PX;
}
.s{
    color: green;
}
.text-box{
    background-color: black;
width: 200PX;
position: absolute;
top: 2200PX;
margin-left: 200PX;

}
.ami{
        
    color:#4F4F4F;
    
    width:765px;
}
.T12{
    
font-size: 30PX;
border-bottom: 2PX solid #4F4F4F;
margin-bottom: 50PX;
    margin-left: 55PX;
    }
    

.T3{
    font-size: 30PX;
border-bottom: 2PX solid #4F4F4F;
margin-bottom: 50PX;
margin-left: 60PX;
}

.T11{
    font-size: 30PX;
border-bottom: 2PX solid #4F4F4F;
margin-bottom: 50PX;
}
.T21{
    
    font-size: 30PX;
    border-bottom: 2PX solid #4F4F4F;
    margin-bottom: 50PX;
}
.D1{
    border: black;
    color:#4F4F4F;
}
.bt{
    position: absolute;
    margin-left: 400PX;
}